@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573383380671'); /* IE9 */
  src: url('iconfont.eot?t=1573383380671#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABqAAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBKIEeATYCJAMICwYABCAFhG0HMRvFBcguIScbXqQNSTNjy4VlUrh3k982hgfKfURQP8e7l7zAvHxghSihhBpQVZeFqqouy8qvXIUj0oC6OkPX/GzhBnu6F6ywNbdQNFWBzAcS6cP5fWv6kxRB926ECqsiq7LdtzdHsJkySVPjEJpxgXpEj17Qbm1SBAiqadKywbVC0LU7n+dyehPoQFYfKMe9aKxJk3oBxgEFuDdFgQVYIAF4w/TyBQ3kdQLZLBV8FuweoE+i5wXiXu4p9OXCksRyrVDXbE2I5ypt8VkEPAu/H/80g4JCVUI3XLix5mDxp6agfOjDdZ8QIaDdFUpsgyTiSm36nIpgHCqnuyyC9lUb/LTvfZfY658naujqATANFfekdKpbnVqAhNqdm05iNr1xnbt6B/q7ruXTpjAFH77XncDX809epO9PQr03benrLLT77fBzhybuDvpwj64zA/UNr2Cv57Zdet1/aDF6fXhQsjFnltlvf8hbxf9X+ujXLlgprP/nre8+fyaYPCBz7ujsn+q6AF8f/nBG/9Cl8gHaU3iCX6Xs2ZOEWruLdLDWQGEbcQtNWUYP5B/zHGuZvK98aE3enbcxk6LUWiYTu41KZwe11glkW5zdnXElFZH6waYOQBixQWHIS5RGXMjEPlCZ8kNtJFBk12LyyM5q5MxKiZWwQ8El5TpLXeuWgah2j73TWJmsOuSP2HSCGFnVejG3wSmbOVaUz7xmRVxKTJYQALdxHGdUMFnIWqqZSD5t1Ny6F1XDLMGAMwymCOYggUskp2VSrj9YDJQ+v4d5TsUU09KVyx9hRkcwOrHozB7khiHt1XUvz5Sd8TRVCBdJGJkEAWASi8UypFA/KcQ0UZWNSOamGaZf0tdQXd+UfN0hyLS1CDO2guZeTfucegAA') format('woff2'),
  url('iconfont.woff?t=1573383380671') format('woff'),
  url('iconfont.ttf?t=1573383380671') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573383380671#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lvcheng:before {
  content: "\e641";
}

